
<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width">
	<title>Select con jQuery</title>
	<script src="https://code.jquery.com/jquery-3.4.0.min.js" integrity="sha256-BJeo0qm959uMBGb65z40ejJYGSgR7REI4+CW1fNKwOg="
	 crossorigin="anonymous">

	</script>
</head>

<body onLoad="loadData()">
	<h1>Select con jQuery</h1>
	<p>
		<a target="_blank" href="//parzibyte.me/blog">By Parzibyte</a>
	</p>
	<select id="miSelect"></select>
    <br>
    <button id="btnAgregar">Agregar</button>
    <button id="btnLimpiar">Limpiar</button>
    <button id="btnMostrar">Mostrar seleccionado</button>
    <script src="script.js"></script>
  </body>
</html>